<%- include("includes/head.ejs") %>
<body>
    <h1>This pAGE Belongs to <%= data.name %></h1>
    <button>Request</button>

    <p>Followers : <%= data.followers %>&nbsp;&nbsp;&nbsp;&nbsp;  Following : <%= data.following %></p>
    <hr />
    <% for(let post of data.posts){ %>
        <img src="<%= post.image %>" alt="Random">
        <p>
            Likes : <%= post.likes %>&nbsp;&nbsp;&nbsp;&nbsp;  comments : <%= post.comments %>
        </p>
    <% } %>
</body>
<%- include("includes/footer.ejs") %>
</html>

